.header
  .players
    .player
    .player
    .player
  .timer
.dungeon-boss
  - @game.doors.each_with_index do |door, index|
    .card.card-door{ class: ('active' if index == (@game.doors.count - 1)),
                     style: "z-index: #{index}; left: #{60.to_f/@game.doors.count * index}vw" }
      = door.id
.hero
  .special-ability
  .hand
    - @game.players.first.hand.each do |card|
      .card{ class: "card-#{card.type}", data: { id: "#{card.type}_#{card.id}" } }
        = card.id
